[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
markdown = "*"
webassets = "*"
register = "*"
#disqus-python = "*"
#disqusapi = "*"
#disqus-python-client = "*"
livereload = "*"

[requires]
python_version = "3.8.5"
