@import url(./scaffold.less);

.button {
    padding: 0 7px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid @c-r--orange;
    color: @c-r--gray_m;
    font-size: 13px;
    cursor: pointer;
    .ta-c;
    i { 
        .fl-l;
        font-size: 25px;
        margin: 7px 0 0 6px;
    }
    &:hover {
        background-color: @c-r--orange;
        color: @c-r--white;
        & i { color: @c-r--white @imp; }
    }
    &--big { 
        .fl-r;
        color: #191919;
        line-height: 36px;
        height: 40px;
    }
    &[class*="--refresh"] { width: 115px; }
    &[class*="--banance"] { width: 230px; }
    &[class*="--security"] { width: 155px; }
    &[class*="--setting"] { width: 175px; }
    &[class*="-temperature"],
    &[class*="--setting-boiler"] { width: 125px; } 
    &[class*="--back"],
    &[class*="--next"] { 
        width: 180px;
        i { color: @c-r--orange; } 
    }
    &[class*="--reverse"] {
        background-color: @c-r--orange;
        color: @c-r--white;
        & i { color: @c-r--white @imp; }
        &:hover { 
            background-color: @c-r--white; 
            color: #191919;
            & i { color: @c-r--orange @imp; }
        }
    }
    &--apply { 
        color: @c-r--black @imp; 
        float: left @imp;
        margin-left: 0px ;
        font-weight: bold;
    }

    &--add {  
        float: right; 
        width: 106px;   
        height: 26px;
        line-height: 22px @imp;
        margin-top: 8px;
        padding-left: 9px;
        &-phone, 
        &-email,  
        &-system,
        &-mode {
            .fl-l;
            margin-left: 0;
            width: 150px;
        }
        i { 
            .fl-r;
            font-size: 10px;
            padding-right: 5px;
            color: @c-r--orange; 
        }
    }
    &[class*="--edit-pwd"] { 
        .fl-l;
        margin-left: 0;
        width: 285px;
        &[class*="-small"] { width: 150px; }
    }
    &--boiler { 
        .fl-l; 
        margin-left: 0;
        width: 127px;
        i { 
            .fl-n; 
            font-size: 20px;
        }
    }
}