@import url(./scaffold.less);

/* Begin rewrite */
.bootstrap-select {
    .btn {
        border-radius: 4px;
        border: 1px solid #d1d1d1;
        background-color: @c-r--white;
        background: url('/img/device-block__select.png') no-repeat 255px center;
        width: 278px;
        height: 40px;
        box-shadow: none;
        font-size: 13px @imp; 
    }
    .dropdown-menu {
        width: 278px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-width: 0px;
        margin-top: -3px;
        font-size: 13px @imp; 
    }
    & .caret {
        border: 0px;
        width: 11px;
        height: 6px;
    }
}



.modal-dialog {
    width: 338px;
    height: 185px;
    .modal-header,
    .modal-footer { border: 0; }
    .modal-body { padding: 0 @imp; }
    .modal-content {
        .ta-c;
        box-shadow: none;
        border-radius: 4px;
        border: 1px #ffffff solid;
        background-color: @c-r--white;
        span {
            color: @c-r--black;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
        }
        .button { 
            width: 100px @imp; 
            margin: 0;
            line-height: 36px;
            height: 40px;
        }
        i { color: @c-r--orange; }
    }
    .modal-footer { padding: 15px 53px; }
}



.slider.slider-horizontal .slider-track { height: 5px; }
.slider.slider-horizontal { width: 100%; }
.slider.slider-horizontal .slider-handle {
    border-radius: 25% !important;
    background-color: @c-r--white @imp;
    background-image: linear-gradient(to bottom, @c-r--white 0, @c-r--white 100%) @imp;
    margin-left: -5px @imp;
    margin-top: -7px;
    width: 9px;
    box-shadow: 0px 0px 1px;
    height: 20px;
}
.slider.slider-horizontal .slider-tick {
    background-image: none;
    box-shadow: none;
}
#slider12b .slider-track-low, 
#slider12c .slider-track-low,
#slider12a .slider-track-high, 
#slider12c .slider-track-high { background: @c-r--danger; }
#slider12c .slider-selection, 
#slider9c .slider-selection, { background: @c-r--green; }
.legend--danger .slider.slider-disabled .slider-track,
.legend--danger .slider.slider-disabled .slider-selection { background-image: linear-gradient(to bottom,@c-r--danger 0,@c-r--danger 100%); }
.legend--success .slider.slider-disabled .slider-track,
.legend--success .slider.slider-disabled .slider-selection { background-image: linear-gradient(to bottom,@c-r--green 0,@c-r--green 100%); }
.slider.slider-disabled .slider-handle { display: none; }
.tooltip.top .tooltip-arrow { border-width: 0; }
.tooltip-inner { 
    background-color: @c-r--white @imp; 
    color: @c-r--black;
}

.highslide-container .closebutton {
    position: relative;
    top: -12px;
    left: 45px;
    cursor: pointer;
    color: @c-r--orange @imp;
    &:hover { 
        color: @c-r--white @imp; 
        border: @c-r--orange;
    }
}
/* End rewrite */  