@c-r--white: #ffffff;
@c-r--gray_l: #f5f5f5;
@c-r--gray_m: #545454;
@c-r--gray_c: #cccccc;
@c-r--gray: #eaeaea;
@c-r--black: #1a1a1a;
@c-r--blue: #00aed1;
@c-r--danger: #f11e1e;
@c-r--orange: #ffae01;
@c-r--green: #1ab529;
@imp: !important;



.c-r--gray { color: @c-r--gray_c @imp; }
.c-r--white { color: @c-r--white @imp; }
.c-r--danger { color: @c-r--danger @imp; }
.c-r--success { color: @c-r--green @imp; }
.f-s--13px { font-size: 13px @imp; }



.fl-l { float: left; }
.fl-r { float: right; }
.fl-n { float: none; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-c { text-align: center @imp; }



.p-l-13 { padding-left: 13px; }
.p-l-20 { padding-left: 20px @imp; }
.p-b-5 { padding-bottom: 5px; }
.p-b-30 { padding-bottom: 30px; }

.m-l-10 { margin-left: 10px @imp; }
.m-l-20 { margin-left: 25px @imp; }
.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }
.m-t--5 { margin-top: -5px @imp; }
.m-t-10 { margin-top: 10px @imp; }
.m-t-15 { margin-top: 15px @imp; }
.m-t-20 { margin-top: 20px @imp; }
.m-t-50 { margin-top: 50px @imp; }
.m-b-5 { margin-bottom: 5px @imp; }
.m-b-20 { margin-bottom: 20px;}



.bs-0 { box-shadow: none @imp; }
.bd-0 { border: none @imp; }
.bg-0 { background: none @imp; }



.disable { display: none; }
.reset {
    margin: 0;
    padding: 0;
}